// variables ---
$light-gray: #eeeeee;
$gray: #9b9c9e;
$red: #ff5859;
$blue: #6488cc;
$blue-hover: #4775cc;
$green: #7dcf85;
$green-hover: #67bb70;

$medium-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
$large-shadow: 0 10px 25px -5px rgba(142, 142, 142, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);

$break-large: 1200px;
$break-medium: 900px;
$break-small: 600px;

// general ---
* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  padding-top: 66px;
}

button {
  font-family: 'Poppins', sans-serif;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1280px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.primary-button {
  background-color: $blue;
  font-weight: 500;
  border-radius: 100px;
  border: 0;
  outline: 0;
  color: white;
  padding: 5px 15px;
  box-shadow: $medium-shadow;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: background-color .3s;

  svg {
    margin-right: 5px;
  }

  .cart-count {
    background-color: $red;
    font-size: 12px;
    position: absolute;
    right: -5px;
    top: -5px;
    min-width: 20px;
    line-height: 20px;
    border-radius: 100px;
    box-shadow: $medium-shadow;
  }

  &:not(.adding):hover {
    background-color: $blue-hover;
  }
}

// header ---
header {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  background-color: white;
  border-bottom: 1px solid $light-gray;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;

  .container {
    flex-direction: row;
    align-items: center;
    flex: 1;
  }

  .header-logo {
    font-size: 20px;

    @media screen and (max-width: $break-small) {
      font-size: 17px;
    }

    a {
      text-decoration: none;
      color: $red;
    }
  }

  .header-menu {
    margin-left: auto;
    display: flex;
    align-items: center;
    
    a, button {
      margin-left: 30px;
      text-decoration: none;
      color: black;
      font-size: 16px;

      &.primary-button {
        color: white;
      }
    }
  }
}

// cart ---
.cart-wrapper {
  position: fixed;
  z-index: 900;
  width: 100%;
  height: calc(100% - 66px);
  opacity: 0;
  transition: opacity .3s;

  &.active {
    opacity: 1;
  }
}


.cart-background {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  position: absolute;
  transition: background-color .3s;

  .active & {
    color: red;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.cart {
  width: 400px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: absolute;
  right: -100%;
  height: 100%;
  transition: right .3s;
  
  .cart-empty-message {
    text-align: center;
    padding: 15px;
    color: $gray;
  }

  .active & {
    right: 0;
  }
  
  h2 {
    font-size: 15px;
    padding: 15px;
    font-weight: 500;
    border-bottom: 1px solid $light-gray;
  }

  .checkout-button {
    background-color: $green;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 15px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background-color .3s;

    &:hover {
      background-color: $green-hover;
    }
  }

  .cart-items {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    padding: 0 15px;

    .cart-item {
      display: flex;
      align-items: center;
      padding: 15px 0;
      border-bottom: 1px solid $light-gray;

      &:last-child {
        border-bottom: 0;
      }

      img {
        width: 25%;
        margin-right: 15px;
      }

      .cart-item-details {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding-right: 15px;

        h3 {
          font-weight: 500;
          font-size: 18px;
        }

        .cart-item-preorder-label {
          color: $red;
        }

        .cart-items-actions {
          display: flex;

          a {
            color: $gray;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

// intro ---
.intro {
  padding: 100px 0;
  border-bottom: 1px solid $light-gray;
  background: rgb(238,238,238);
  background: linear-gradient(0deg, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 100%);
  .container {
    align-items: center;
  }

  h1 {
    font-size: 35px;
    font-weight: 500;
    text-align: center;
  }

  p {
    font-size: 20px;
    margin-top: 15px;
    text-align: center;
    color: $gray;
  }
}

// movies section ---
.movies {
  margin: 15px 0;

  .container {
    flex-direction: row;
    padding: 0;
  }

  .sidebar {
    padding-right: 30px;
    border-right: 1px solid $light-gray;
    width: 200px;
  }

  .sidebar-menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    h3 {
      font-weight: 300;
      font-size: 20px;
      margin-bottom: 10px;
    }

    a {
      text-decoration: none;
      padding: 5px 10px;
      font-size: 15px;
      font-weight: 300;
      color: $gray;

      &.active {
        font-weight: 600;
        color: black;
      }
    }
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;

    .card {
      border: 1px solid $light-gray;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: $large-shadow;
      width: calc(100%/4 - 32px);
      margin: 15px;
      display: flex;
      flex-direction: column;
      position: relative;

      @media screen and (max-width: $break-large) {
        width: calc(100%/3 - 32px);
      }

      @media screen and (max-width: $break-medium) {
        width: calc(100%/2 - 32px);
      }

      @media screen and (max-width: $break-small) {
        width: calc(100% - 32px);
      }

      .card-label {
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 10;
        background-color: $red;
        color: white;
        padding: 5px 15px;
        border-radius: 100px;
        font-size: 13px;
        text-transform: uppercase;
        box-shadow: $medium-shadow;
      }

      img {
        width: 100%;
      }

      .card-info {
        padding: 15px;
        display: flex;
        flex-direction: column;
        flex: 1;

        h2 {
          font-size: 18px;
          font-weight: 500;
        }
        p {
          font-size: 15px;
          color: $gray;
        }
      }

      .card-actions {
        display: flex;
        padding-top: 15px;
        margin-top: auto;
        align-items: center;

        a, button {
          margin-right: 15px;
          text-decoration: none;
          color: black;
          font-size: 15px;

          &.primary-button {
            color: white;

            &.adding {
              background-color: $gray;
              cursor: progress;
            }

            p {
              color: white;
              align-items: center;
              display: flex;
            }
          }
        }
      }
    }
  }
}